<%- include("header") -%>
    

    <div class="container">
        <div class="video-container">
        <video src="/css/recipe generator.mp4" autoplay="autoplay" loop="loop"  muted="muted"></video>
        <form action="/" method="POST">
            <button type="submit" name="getstarted" class="getstarted"> Get Started</button>
        </form>
    </div>
    </div>   
<%- include("footer") -%>
